<section class="benefits section">
    <div class="container">
        <div class="benefits__content">
            <h2 class="benefits__title">нас выбирают более 20 ювелирных сетей <br>не только в россии, но и зарубежом</h2>
            <div class="benefits__items">
                <div class="benefits__item">
                    <div class="benefits__item_img">
                        <img src="/img/main/benefits/1.svg" alt="">
                    </div>
                    <div class="benefits__item_text">Бесплатная доставка</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item_img">
                        <img src="/img/main/benefits/2.svg" alt="">
                    </div>
                    <div class="benefits__item_text">Удаленное оформление заказа, <br>обработка в течение 2 рабочих дней</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item_img">
                        <img src="/img/main/benefits/3.svg" alt="">
                    </div>
                    <div class="benefits__item_text">Ежемесячное обновление коллекций <br>на более чем 100 изделий</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item_img">
                        <img src="/img/main/benefits/4.svg" alt="">
                    </div>
                    <div class="benefits__item_text">Скидки и акции каждый месяц</div>
                </div>
            </div>
        </div>
    </div>
</section>