<section class="main_map">
    <h2 class="main_map__title">адреса</h2>
    <div class="main_map__buttons">
        <button class="main_map__btn main_map__shops active">магазины</button>
        <button class="main_map__btn main_map__offices">офисы</button>
    </div>
    <div class="main_map__content">
        <div class="main_map__map_wr">
            <div class="main_map__map" id="main_map"></div>
        </div>
<!--        <div class="main_map__list">-->
<!--            <div class="main_map__list_top">-->
<!--                <select name=""></select>-->
<!--            </div>-->
<!--            <div class="main_map__list_bottom">-->
<!--                <ul class="main_map__list_addresses">-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Коломяжский, д.15, корп.2</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Коломяжский, д.15, корп.2</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Коломяжский, д.15, корп.2</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников дополнительно, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников дополнительно, д.19, стр. 9</a></li>-->
<!--                    <li class="main_map__list_address"><a href="#">Пр. Наставников дополнительно, д.19, стр. 9</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>