.main_map__buttons {
  text-align: center;
  margin-top: 25px;
}

.main_map__btn {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #D1D1D1;
  margin: 0 20px;

  &.active {
    color: #F9C859;
  }
}

.main_map__content {
  margin-top: 20px;
}

.main_map__map_wr {
  position: relative;
  padding-top: 31.25%;
  @media ($tablet2) {
    padding-top: 65%;
  }
  @media (mobile) {
    padding-top: 100%;
  }
}

.main_map__map {
  position: absolute;
  top: 0;
  left: 0;
width: 100%;
 height: 100%;
}

.SumoSelect {
  width: 100%;
  margin: 0 0 13px 0;
  position: relative;
  @media (max-width: 1220px) {
    margin: 0 0 0 17px;
    width: calc(50% - 8.5px);
  }
  &__toggle,
  .CaptionCont {
    height: 55px;
    font-size: 18px;
    line-height: 25px;
    color: #545b6a;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    cursor: pointer;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    user-select: none;
    span {
      padding-right: 10px;
      position: absolute;
    }
    label {
      width: 13px;
      right: 10px;
    }
    label i {
      transition: 0.2s;
      background: url("../img/icons/arrow_down_select.svg") 0 0/ 100% 100% no-repeat;
      width: 13px;
      height: 8px;
    }
  }

  .optWrapper {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    padding: 10px 0;
    border: 1px solid #ccc;
    max-height: 326px;
    overflow-y: auto;
    border-radius: 0.3125rem;
    z-index: 2;
    background-color: #fff;
  }

  .opt {
    font-size: 18px;
    line-height: 150%;
    color: #545b6a;
  }
}
.SumoSelect > .optWrapper > .options li.opt {
  padding: 5px 0 5px 14px;
  border: none;
}
.SumoSelect.open {
  .CaptionCont label i {
    transform: rotate(180deg);
  }
  .optWrapper {
    top: 55px;
  }
}