<div class="ordering_profiles_all__cards profiles_cards">
    <div class="profiles_cards__labels">
        <div class="profiles_cards__label this--width_356">Название</div>
        <div class="profiles_cards__label this--width_150 this--no_wrap">ФИО</div>
        <div class="profiles_cards__label this--width_250">Адрес</div>
        <div class="profiles_cards__label this--width_250 this--no_wrap">Контактные данные</div>
        <div class="profiles_cards__label this--width_180">Способ оплаты</div>
        <div class="profiles_cards__label this--width_130 this--pr_0 this--desktopbig"></div>
    </div>
    <div class="profiles_cards__cards">
        <div class="profiles_cards__card">
            <div class="profiles_cards__card_value this--width_356 this--uppercase">Астрахань, Лесная, 143; Константинов константин константинович</div>
            <div class="profiles_cards__card_value this--width_150 this--no_wrap">Константинов К К</div>
            <div class="profiles_cards__card_value this--width_250">г. Астрахань, ул. Лесная, д. 143</div>
            <div class="profiles_cards__card_value this--width_250 this--no_wrap">
                <div>+7 (900) 000-00-00</div>
                <div>test@gmail.com</div>
            </div>
            <div class="profiles_cards__card_value this--width_180">Отсрочка 45 дней</div>
            <div class="profiles_cards__card_value this--width_130 this--pr_0 profiles_cards__card_value_links">
                <a href="#" class="profiles_cards__card_link">Смотреть заказы</a>
                <a href="#" class="profiles_cards__card_link">Редактировать</a>
            </div>
        </div>
        <div class="profiles_cards__card">
            <div class="profiles_cards__card_value this--width_356 this--uppercase">Астрахань, пушкинская, 14; олесина ольга олеговна</div>
            <div class="profiles_cards__card_value this--width_150 this--no_wrap">Олесина О О</div>
            <div class="profiles_cards__card_value this--width_250">г. Астрахань, ул. Пушкинская, д. 14</div>
            <div class="profiles_cards__card_value this--width_250 this--no_wrap">
                <div>+7 (900) 000-00-00</div>
                <div>test@gmail.com</div>
            </div>
            <div class="profiles_cards__card_value this--width_180">Отсрочка 45 дней</div>
            <div class="profiles_cards__card_value this--width_130 this--pr_0 profiles_cards__card_value_links">
                <a href="#" class="profiles_cards__card_link">Смотреть заказы</a>
                <a href="#" class="profiles_cards__card_link">Редактировать</a>
            </div>
        </div>
        <div class="profiles_cards__card">
            <div class="profiles_cards__card_value this--width_356 this--uppercase">Астрахань, пушкинская, 14; олесина ольга олеговна</div>
            <div class="profiles_cards__card_value this--width_150 this--no_wrap">Олесина О О</div>
            <div class="profiles_cards__card_value this--width_250">г. Санкт-Петербург, ул. Пушкинская, д. 14</div>
            <div class="profiles_cards__card_value this--width_250 this--no_wrap">
                <div>+7 (900) 000-00-00</div>
                <div>test@gmail.com</div>
            </div>
            <div class="profiles_cards__card_value this--width_180">Отсрочка 45 дней</div>
            <div class="profiles_cards__card_value this--width_130 this--pr_0 profiles_cards__card_value_links">
                <a href="#" class="profiles_cards__card_link">Смотреть заказы</a>
                <a href="#" class="profiles_cards__card_link">Редактировать</a>
            </div>
        </div>
    </div>
</div>