.profiles_cards__labels {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  @media ($desktop) {
    display: none;
  }
}
.profiles_cards__label {
  padding-right: 10px;
  color: #4A4A4A;
  &.this--width_150 {
    width: 150px;
  }
  &.this--width_180 {
    width: 180px;
  }
  &.this--width_130 {
    width: 130px;
  }
  &.this--width_250 {
    width: 250px;
  }
  &.this--width_356 {
    width: 356px;
    @media (max-width: 1300px) {
      width: 260px;
    }
  }
  &.this--pr_0 {
    padding-right: 0;
  }
  &.this--desktopbig {
    @media ($desktopBig) {
      display: none;
    }
  }
}
.profiles_cards__cards {
  margin-top: 10px;
}
.profiles_cards__card {
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 25px 30px 30px;
  background: #FFFFFF;
  border: 1px solid #F6F8FB;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  @media ($desktopBig) {
    padding: 25px 30px 15px;
  }
  @media ($desktop) {
    justify-content: flex-start;
  }
  @media ($tablet3) {
    padding: 20px 20px 5px;
  }
}
.profiles_cards__card_value {
  padding-right: 10px;
  @media ($desktopBig) {
    margin-bottom: 15px;
  }
  @media ($desktop) {
    padding-right: 30px;
  }
  @media ($tablet3) {
    padding-right: 0;
  }
  @media ($mobile) {
    font-size: 1.4rem;
  }
  &.this--width_150 {
    width: 150px;
    @media ($desktop) {
      width: 33.333%;
    }
    @media ($tablet2) {
      width: 50%;
    }
    @media ($tablet3) {
      width: 100%;
    }
  }
  &.this--width_180 {
    width: 180px;
    @media ($desktop) {
      width: 33.333%;
    }
    @media ($tablet2) {
      width: 50%;
    }
    @media ($tablet3) {
      width: 100%;
    }
  }
  &.this--width_130 {
    width: 130px;
    @media ($desktopBig) {
      width: 100%;
    }
    @media ($desktop) {
      width: 33.333%;
    }
    @media ($tablet2) {
      width: 50%;
    }
    @media ($tablet3) {
      width: 100%;
    }
  }
  &.this--width_250 {
    width: 250px;
    @media ($desktop) {
      width: 33.333%;
    }
    @media ($tablet2) {
      width: 50%;
    }
    @media ($tablet3) {
      width: 100%;
    }
  }
  &.this--width_356 {
    width: 356px;
    @media (max-width: 1300px) {
      width: 260px;
    }
    @media ($desktop) {
      width: 33.333%;
    }
    @media ($tablet2) {
      width: 50%;
    }
    @media ($tablet3) {
      width: 100%;
    }
  }
  &.this--uppercase {
    text-transform: uppercase;
  }
  &.this--no_wrap {
    white-space: nowrap;
    flex: 0 0 auto;
  }
  &.this--pr_0 {
    padding-right: 0;
  }
}
.profiles_cards__card_value_links {
  @media ($desktop) {
    display: flex;
    margin-left: -20px;
  }
}
.profiles_cards__card_link {
  display: block;
  color: #A27207;
  transition: 0.3s;
  &:hover {
    @media ($tablet2Max) {
      color: #D59A14;
    }
  }
  @media ($desktop) {
    margin-left: 20px;
  }
  @media ($mobile) {
    font-size: 1.6rem;
  }
}