<div class="detail__content">
    <div class="detail__row detail__top this--pb_0">
        <div class="detail__left">
            @@include('../detail_slider/detail_slider.html')
        </div>
        <div class="detail__right">
            @@include('../detail_info/detail_info.html')
            @@include('../detail_form/detail_form.html')
            @@include('../detail_tabs/detail_tabs.html')
        </div>
    </div>
        @@include('../detail_set/detail_set.html')
    </div>
    @@include('../detail_recommend/detail_recommend.html')
</div>