<div class="detail_big_slider swiper-container">
    <div class="detail_big_slider__pagination"></div>
    <div class="detail_big_slider__wrapper swiper-wrapper">
        <div class="detail_big_slider__slide swiper-slide">
            <div class="detail_big_slider__slide_img this--new this--hit">
                <img src="/img/detail/detail_slider/1.jpg" alt="">
                <div class="item_card__new_hit this--detail">
                    <span class="item_card__new">NEW</span>
                    <span class="item_card__hit">ХИТ</span>
                </div>
            </div>
        </div>
        <div class="detail_big_slider__slide swiper-slide">
            <div class="detail_big_slider__slide_img">
                <img src="/img/detail/detail_slider/2.jpg" alt="">
                <div class="item_card__new_hit this--detail">
                    <span class="item_card__new">NEW</span>
                    <span class="item_card__hit">ХИТ</span>
                </div>
            </div>
        </div>
        <div class="detail_big_slider__slide swiper-slide">
            <div class="detail_big_slider__slide_img">
                <img src="/img/detail/detail_slider/3.jpg" alt="">
                <div class="item_card__new_hit this--detail">
                    <span class="item_card__new">NEW</span>
                    <span class="item_card__hit">ХИТ</span>
                </div>
            </div>
        </div>
        <div class="detail_big_slider__slide swiper-slide">
            <div class="detail_big_slider__slide_img">
                <img src="/img/detail/detail_slider/4.jpg" alt="">
                <div class="item_card__new_hit this--detail">
                    <span class="item_card__new">NEW</span>
                    <span class="item_card__hit">ХИТ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detail_nav_slider swiper-container">
    <div class="detail_nav_slider__wrapper swiper-wrapper">
        <div class="detail_nav_slider__slide swiper-slide">
            <div class="detail_nav_slider__slide_img">
                <img src="/img/detail/detail_slider/1.jpg" alt="">
            </div>
        </div>
        <div class="detail_nav_slider__slide swiper-slide">
            <div class="detail_nav_slider__slide_img">
                <img src="/img/detail/detail_slider/2.jpg" alt="">
            </div>
        </div>
        <div class="detail_nav_slider__slide swiper-slide">
            <div class="detail_nav_slider__slide_img">
                <img src="/img/detail/detail_slider/3.jpg" alt="">
            </div>
        </div>
        <div class="detail_nav_slider__slide swiper-slide">
            <div class="detail_nav_slider__slide_img">
                <img src="/img/detail/detail_slider/4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
