<section class="detail_recommend section">

        <div class="detail_recommend__content">
            <h2 class="detail_recommend__title">рекомендуем</h2>
            <div class="detail_recommend__slider_wr">
                <div class="detail_recommend_slider__btn-prev"></div>
                <div class="detail_recommend_slider__btn-next"></div>
                <div class="detail_recommend__slider detail_recommend_slider swiper-container">
                    <div class="detail_recommend_slider__wrapper swiper-wrapper">
                        <div class="detail_recommend_slider__slide detail_recommend__slide swiper-slide">
                            <div class="item_card this--new this--hit this--discount">
                                <button class="item_card__favorite"></button>
                                <a href="#" class="item_card__link">
                                    <div class="item_card__top_img">
                                        <img src="/img/main/novelties_slider/novelties_slider_img.jpg" alt="">
                                        <div class="item_card__new_hit">
                                            <span class="item_card__new">NEW</span>
                                            <span class="item_card__hit">ХИТ</span>
                                        </div>
                                        <span class="item_card__discount">-15%</span>
                                    </div>
                                    <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                                    <div class="item_card__price">
                                        от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="detail_recommend_slider__slide detail_recommend__slide swiper-slide">

                            <div class="item_card this--discount">
                                <button class="item_card__favorite"></button>
                                <a href="#" class="item_card__link">
                                    <div class="item_card__top_img">
                                        <img src="/img/main/novelties_slider/novelties_slider_img.jpg" alt="">
                                        <span class="item_card__discount">-25%</span>
                                        <div class="item_card__new_hit">
                                            <span class="item_card__new">NEW</span>
                                            <span class="item_card__hit">ХИТ</span>
                                        </div>
                                    </div>
                                    <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                                    <div class="item_card__price">
                                        от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="detail_recommend_slider__slide detail_recommend__slide swiper-slide">
                            <div class="item_card this--hit">
                                <button class="item_card__favorite"></button>
                                <a href="#" class="item_card__link">
                                    <div class="item_card__top_img">
                                        <img src="/img/main/novelties_slider/novelties_slider_img.jpg" alt="">
                                        <span class="item_card__discount">-5%</span>
                                        <div class="item_card__new_hit">
                                            <span class="item_card__new">NEW</span>
                                            <span class="item_card__hit">ХИТ</span>
                                        </div>
                                    </div>
                                    <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                                    <div class="item_card__price">
                                        от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="detail_recommend_slider__slide detail_recommend__slide swiper-slide">
                            <div class="item_card this--new this--discount">
                                <button class="item_card__favorite"></button>
                                <a href="#" class="item_card__link">
                                    <div class="item_card__top_img">
                                        <img src="/img/main/novelties_slider/novelties_slider_img.jpg" alt="">
                                        <span class="item_card__discount">-15%</span>
                                        <div class="item_card__new_hit">
                                            <span class="item_card__new">NEW</span>
                                            <span class="item_card__hit">ХИТ</span>
                                        </div>
                                    </div>
                                    <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                                    <div class="item_card__price">
                                        от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="detail_recommend_slider__slide detail_recommend__slide swiper-slide">
                            <div class="item_card">
                                <button class="item_card__favorite"></button>
                                <a href="#" class="item_card__link">
                                    <div class="item_card__top_img">
                                        <img src="/img/main/novelties_slider/novelties_slider_img.jpg" alt="">
                                        <span class="item_card__discount">-15%</span>
                                        <div class="item_card__new_hit">
                                            <span class="item_card__new">NEW</span>
                                            <span class="item_card__hit">ХИТ</span>
                                        </div>
                                    </div>
                                    <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                                    <div class="item_card__price">
                                        от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>