.about_page__certificates_slider_wr {
  position: relative;
  margin-top: 35px;
  padding-bottom: 40px;
}
.certificates_slider {
  overflow: hidden;
  @media ($mobileMiddle) {
    overflow: visible;
  }
}
.certificates_slider__slide {
  cursor: zoom-in;
  @media ($mobileMiddle) {
    max-width: 300px;
  }
}
.about_page__certificates {
  @media ($mobileMiddle) {
    overflow-x: hidden;
  }
}

.certificates_slider__slide_img {
  display: block;
  padding-top: 141.2%;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.certificates_slider__btn-next,
.certificates_slider__btn-prev {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  background: url("/img/main/icons/arrow_slider.svg") center/ 14px 14px no-repeat;
  &:hover {
    @media ($tablet2Max) {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
      background: url("/img/main/icons/arrow_slider_hov.svg") center/ 14px 14px no-repeat, #ffffff;
    }
  }

  @media ($desktopSuperBig) {
    top: -40px;
  }
  @media ($tablet2) {
    display: none;
  }
}

.certificates_slider__btn-next {
  right: -60px;
  @media ($desktopSuperBig) {
    right: 0;
  }
}

.certificates_slider__btn-prev {
  left: -60px;
  transform: translateY(-50%) rotate(180deg);
  @media ($desktopSuperBig) {
    left: 0;
  }
}

.certificates_slider__btn-next.swiper-button-disabled,
.certificates_slider__btn-prev.swiper-button-disabled {
  display: none;
}
.certificates_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  text-align: center;
  bottom: -5px;
  @media ($mobileMiddle) {
    display: none;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
    background: #D1D1D1;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #F9C859;
    }
  }
}

.carousel__slide.has-thumb.has-image,
.carousel__button.fancybox__button--thumbs{
  display: none;
}

