<div class="about_page__certificates section this--top">
    <div class="container">
        <div class="about_page__certificates_content">
            <h2 class="about_page__certificates_title">сертификаты</h2>
            <div class="about_page__certificates_slider_wr">
                <div class="certificates_slider__btn-prev"></div>
                <div class="certificates_slider__btn-next"></div>
                <div class="certificates_slider__pagination"></div>
                <div class="about_page__certificates_slider certificates_slider swiper-container">
                    <div class="certificates_slider__wrapper swiper-wrapper">
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                        <div class="certificates_slider__slide swiper-slide">
                            <a data-src="/img/about_page/certificates_slider/certificates_slider_img.jpg" data-fancybox="gallery" class="certificates_slider__slide_img">
                                <img src="/img/about_page/certificates_slider/certificates_slider_img.jpg" alt="">
                            </a>
                            <div class="certificates_slider__slide_text">
                                Удаленное оформление заказа, обработка в течение 2 рабочих дней
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>