<div class="collection_card__content">
    <h1 class="collection_card__title">#внутренний комфорт</h1>
    <div class="collection_card__subtitle">Заголовок с дополнительной информацией</div>
    <div class="collection_card__text">Описание комплекта. Учитывая ключевые сценарии поведения, консультация с широким активом представляет собой интересный эксперимент проверки поэтапного и последовательного развития общества. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь позволяет оценить значение модели развития. </div>
    <div class="catalog__cards item__cards this--five">
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="/detail_size.html" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/1.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="/detail.html" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/2.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/3.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/4.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/5.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/6.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/7.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/8.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/9.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/10.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/11.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/12.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/10.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/11.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--new this--hit this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/12.jpg" alt="">
                    <div class="item_card__new_hit">
                        <span class="item_card__new">NEW</span>
                        <span class="item_card__hit">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
    </div>
    <div class="catalog__bottom">
        <div class="catalog__show_counts">Показано товаров: <span class="catalog__show_counts_value">15</span> из <span
                class="catalog__show_counts_all_value">104</span></div>
        <a href="#" class="catalog__next_btn btn this--wh">дальше</a>
        <ul class="catalog__pagination">
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link active ">1</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">2</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">3</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">4</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">5</a></li>
            <li class="catalog__pagination_item"><span>...</span></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">9</a></li>
        </ul>
    </div>
</div>