<div class="partners__content">
    <h2 class="partners__title">с нами сотрудничают</h2>
    <div class="partners__items this--limited">
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/1.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/2.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/3.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/4.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/5.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/6.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/7.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/8.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/9.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/10.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/11.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/12.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/13.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/14.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/15.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/16.jpg" alt="">
            </div>
        </div>
        <div class="partners__item">
            <div class="partners__item_img">
                <img src="/img/main/partners/17.jpg" alt="">
            </div>
        </div>
    </div>
    <button class="partners__btn btn this--wh"><span>показать всех</span></button>
</div>

