<div class="counts">
    <div class="container">
         <div class="counts__content">
             <div class="counts__items">
                 <div class="counts__item">
                     <div class="counts__item_top">TOP-10</div>
                     <div class="counts__item_bottom">ювелирных заводов России</div>
                 </div>
                 <div class="counts__item">
                     <div class="counts__item_top">10 000</div>
                     <div class="counts__item_bottom">наименований готовой продукции</div>
                 </div>
                 <div class="counts__item">
                     <div class="counts__item_top">1000 M2</div>
                     <div class="counts__item_bottom">офисно-производственных <br> помещений</div>
                 </div>
                 <div class="counts__item">
                     <div class="counts__item_top">30</div>
                     <div class="counts__item_bottom">лет на рынке</div>
                 </div>
                 <div class="counts__item">
                     <div class="counts__item_top">5</div>
                     <div class="counts__item_bottom">выставок проведено</div>
                 </div>
             </div>
         </div>
    </div>
</div>