.text_input {
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.56;
  position: relative;
  &:hover {
    @media ($tablet2Max) {
      border: 1px solid #F9C859;
    }
  }
  &:focus {
    border: 1px solid #F9C859;
  }
  &.error-input {
    border: 1px solid #A61616;
  }
}
.input_error_message {
  display: none;
}
.text_input.error-input + .input_error_message {
  display: flex;
  align-items: center;
}
.input_error_message__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  background: #A61616;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
}
.input_error_message__text {
  font-size: 1.2rem;
  margin-top: 2px;
  line-height: 1.33;
  color: #A61616;
}