h1,
.popup_title {
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 1.18;
  @media ($mobile) {
    font-size: 2.8rem;
  }

  &.this--center {
    @media ($mobileMax) {
      text-align: center;
    }
  }
  &.this--center_all {
    text-align: center;
  }
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;

  @media ($tablet2) {
    font-size: 2.4rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #F9C859;
  }
  &.this--no_line {
    &::before {
      display: none;
    }
  }
}

h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
}