.top_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  @media ($desktop) {
    display: block;
  }
}
.top_nav__title_links_wr {
  flex: 0 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1px 0;
  display: flex;
  @media ($desktop) {
    margin: 0 -20px;
  }
}
.top_nav__title_links {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  margin-right: 50px;
  @media ($desktop) {
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  &:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #D1D1D1;
    bottom: 4px;
    left: 0;
    @media ($desktop) {
      width: calc(100% - 40px);
      left: 20px;
    }
  }
}
.top_nav__title_links_title {
  position: relative;
  white-space: nowrap;

  &:before {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background: #F9C859;
    bottom: -13px;
    left: 0;
  }
}
.top_nav__title_links_link {
  margin-left: 30px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #000000;
  white-space: nowrap;
}
.top_nav__buttons {
  margin-left: -50px;
  display: flex;
  padding-top: 7px;
  align-items: flex-start;
  @media($mobileMiddle) {
    margin-left: -28px;
  }
  @media($mobile2) {
    margin-left: -28px;
    flex-wrap: wrap;
  }
}
.top_nav__button {
  margin-left: 50px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 20px;
  white-space: nowrap;
  br {
    display: none;
    @media($mobileMiddle) {
      display: inline;
    }
  }
  @media($mobileMiddle) {
    margin-left: 38px;
    align-self: center;
  }
}