@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
aside,
footer,
header,
nav {
  display: block
}
body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
button,
input,
textarea {
  font-family: inherit
}
input::-ms-clear {
  display: none
}
button {
  cursor: pointer;
  background: 0 0
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
a,
a:visited {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url(../fonts/Nunito-Regular.woff) format("woff"),url(../fonts/Nunito-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url(../fonts/Nunito-Light.woff) format("woff"),url(../fonts/Nunito-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url(../fonts/Nunito-SemiBold.woff) format("woff"),url(../fonts/Nunito-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Michroma;
  font-display: swap;
  src: url(../fonts/Michroma-Regular.woff) format("woff"),url(../fonts/Michroma-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url(../fonts/Nunito-Bold.woff) format("woff"),url(../fonts/Nunito-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
html {
  font-size: 10px
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Nunito;
  font-weight: 300;
  color: #000
}
.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px
}
.main {
  padding-top: 188px;
  background: #fffbf2
}
h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  position: relative
}
h2::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #f9c859
}
.section {
  padding: 60px 0
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 230px;
  height: 60px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.75;
  text-transform: uppercase;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #f9c859;
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #f9c859
}
.btn span {
  position: relative;
  z-index: 1
}
.btn::before {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  content: '';
  position: absolute;
  width: 100%;
  background: #f9c859;
  z-index: 0;
  opacity: 1;
  height: 100%
}
.btn:hover {
  background: 0 0
}
.btn:hover::before {
  height: 0;
  opacity: 0
}
.btn.this--transparent {
  background: 0 0
}
.btn.this--transparent::before {
  height: 0;
  opacity: 0
}
.btn.this--transparent:hover {
  background: #f9c859
}
.btn.this--transparent:hover::before {
  height: 100%;
  opacity: 1
}
.btn.this--small {
  width: 150px;
  height: 30px;
  font-size: 1.4rem;
  line-height: 1.4
}
.header {
  position: fixed;
  width: 100%;
  z-index: 10
}
.header__top {
  background: #000
}
.header__top_content {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__top_city {
  padding-left: 21px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff;
  white-space: nowrap;
  background: url(/img/main/icons/point.svg) left center/11px 16px no-repeat
}
.header__top_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.header__top_item {
  margin: 0 25px
}
.header__top_link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.header__top_link:hover {
  color: #f9c859
}
.header__top_tel {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.header__top_tel:hover {
  color: #f9c859
}
.header__bottom {
  background: #fffbf2
}
.header__bottom_content {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__logo_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.header__logo {
  margin-right: 30px
}
.header__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4
}
.header__title span {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: #f9c859
}
.header__counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__count {
  text-align: center;
  min-width: 98px;
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}
.header__count_top {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.45;
  color: #4a4a4a
}
.header__count_value {
  font-family: Michroma;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.45;
  color: #000
}
.header__count_bottom {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4
}
.header__count_line {
  width: 2px;
  height: 22px;
  background: #d1d1d1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.header__icons_search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header__search_wr {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 15px
}
.header__search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.header__search_form.this--hidden {
  visibility: hidden;
  opacity: 0
}
.header__search {
  background: #fff;
  border-radius: 5px;
  border: 2px solid #f9c859;
  height: 60px;
  width: 100%;
  font-size: 1.6rem;
  padding: 10px
}
.header__search_form_btn {
  display: none
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: -25px
}
.header__icon {
  width: 34px;
  height: 34px;
  margin-left: 25px;
  border-radius: 50%;
  border: 2px solid #fffbf2
}
.header__icon:hover {
  border: 2px solid #f9c859
}
.header__icon.active {
  background-color: #f9c859;
  border: 2px solid #f9c859
}
.header__search_btn {
  background: url(/img/main/icons/search.svg) center/cover no-repeat
}
.header__profile_btn {
  background: url(/img/main/icons/profile.svg) center/cover no-repeat
}
.header__basket_btn {
  background: url(/img/main/icons/basket.svg) center/cover no-repeat
}
.header__burger {
  display: none;
  width: 34px;
  height: 34px;
  z-index: 51;
  position: relative;
  cursor: pointer;
  padding: 5px;
  margin-left: 30px
}
.header__burger span {
  position: absolute;
  top: 15.5px;
  left: 5px;
  height: 3px;
  width: 24px;
  background-color: #000;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  border-radius: 25%
}
.header__burger::after,
.header__burger::before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 24px;
  height: 3px;
  left: 5px;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  border-radius: 25%
}
.header__burger::before {
  top: 7.5px
}
.header__burger::after {
  bottom: 7.5px
}
.header__burger.burger-open span {
  opacity: 0
}
.header__burger.burger-open::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px
}
.header__burger.burger-open::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 17px
}
.header__catalog_btn_wr {
  display: none
}
.header__bottom_items {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -5px
}
.header__bottom_item {
  margin: 0 5px
}
.header__bottom_link {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.header__bottom_link:hover {
  color: #f9c859
}
.header__counts_search_mob {
  display: none
}
.main_slider {
  overflow-x: hidden;
  position: relative
}
.main_slider__btn-next,
.main_slider__btn-prev {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: url(/img/main/icons/arrow_slider.svg) center/14px 14px no-repeat
}
.main_slider__btn-next:hover,
.main_slider__btn-prev:hover {
  -webkit-box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  background: url(/img/main/icons/arrow_slider_hov.svg) center/14px 14px no-repeat,#fff
}
.main_slider__btn-next {
  right: calc((100vw - 1520px)/ 2 - 75px)
}
.main_slider__btn-prev {
  left: calc((100vw - 1520px)/ 2 - 75px);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}
.main_slider__btn-next.swiper-button-disabled,
.main_slider__btn-prev.swiper-button-disabled {
  display: none
}
.main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 5px;
  z-index: 5;
  text-align: center
}
.main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: #b8b8b8;
  width: 150px;
  height: 3px;
  opacity: 1;
  position: relative;
  margin: 0 7.5px;
  border-radius: 0
}
.main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  background: #fff
}
.main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  width: 100%;
  -webkit-animation: line 7s linear;
  animation: line 7s linear
}
@-webkit-keyframes line {
  0% {
    width: 0
  }
  100% {
    width: 100%
  }
}
@keyframes line {
  0% {
    width: 0
  }
  100% {
    width: 100%
  }
}
.main_slider__slide_img {
  padding-top: 36.46%;
  position: relative;
  z-index: 1
}
.main_slider__slide_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0
}
.main_slider__slide_content {
  position: absolute;
  z-index: 2;
  right: calc((100vw - 1520px)/ 2);
  top: 35%
}
.main_slider__slide_text {
  font-size: 4rem;
  line-height: 1.25
}
.main_slider__slide_btn {
  margin-top: 30px
}
.partners__title {
  margin-top: 15px
}
.partners__items {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: 15px
}
.partners__items.this--limited .partners__item:nth-child(n+7) {
  display: none
}
.partners__item {
  margin-left: 20px;
  width: calc(100% / 6 - 20px);
  margin-bottom: 20px
}
.partners__item_img {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 58.37%
}
.partners__item_img img,
.partners__item_img picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0
}
.partners__btn {
  margin: 0 auto
}
.partners__btn.this--hidden {
  display: none
}
.three_steps__items {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -40px
}
.three_steps__item {
  margin-bottom: 40px;
  margin-left: 20px;
  width: calc(100% / 3 - 20px)
}
.three_steps__item_img {
  text-align: center
}
.three_steps__item_text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center
}
.three_steps__item_btn {
  margin: 25px auto 0
}
.about__dates {
  margin-top: 35px
}
.about__dates_line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px
}
.about__dates_line::before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  background: #d1d1d1;
  top: 4px;
  left: 15px
}
.about__dates_black_line {
  position: absolute;
  width: 8.7%;
  height: 2px;
  background: #000;
  top: 4px;
  left: 15px
}
.about__dates_point {
  top: -2px;
  border-radius: 50%;
  background: #fffbf2;
  border: 2px solid #d1d1d1;
  width: 14px;
  height: 14px;
  position: relative;
  cursor: pointer
}
.about__dates_point span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -33px;
  color: #b8b8b8;
  font-family: Michroma;
  font-weight: 400
}
.about__dates_point.active {
  background: #000;
  border: 2px solid #000
}
.about__dates_point.active span {
  color: #000
}
.about__slider_wr {
  position: relative;
  margin-top: 73px
}
.about__slider {
  overflow: hidden
}
.about__slider__btn-next,
.about__slider__btn-prev {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: url(/img/main/icons/arrow_slider.svg) center/14px 14px no-repeat
}
.about__slider__btn-next:hover,
.about__slider__btn-prev:hover {
  -webkit-box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  background: url(/img/main/icons/arrow_slider_hov.svg) center/14px 14px no-repeat,#fff
}
.about__slider__btn-next {
  right: -75px
}
.about__slider__btn-prev {
  left: -75px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}
.about__slider__btn-next.swiper-button-disabled,
.about__slider__btn-prev.swiper-button-disabled {
  display: none
}
.about__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.about__slide_left {
  width: 50%
}
.about__slide_right {
  margin-left: 50px;
  width: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.about__slide_img {
  position: relative;
  padding-top: 76%;
  border-radius: 10px;
  overflow: hidden
}
.about__slide_img img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0
}
.about__slide_date {
  font-family: Michroma;
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.4;
  color: #f9c859;
  text-align: right
}
.about__slide_title {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.4;
  max-width: 480px;
  text-transform: uppercase
}
.about__slide_text {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}
.about__slide_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px
}
.about__slide_image_wr {
  width: calc(50% - 30px);
  margin-left: 30px
}
@media (max-width:1699px) {
  .main_slider__btn-next {
    right: 15px
  }
  .main_slider__btn-prev {
    left: 15px
  }
  .about__slider__btn-next,
  .about__slider__btn-prev {
    display: none
  }
}
@media (max-width:1560px) {
  .main_slider__slide_content {
    right: 20px
  }
}
@media (max-width:1499px) {
  .header__logo {
    margin-right: 15px
  }
  .header__search_wr {
    margin-right: 10px
  }
  .header__icons {
    margin-left: -15px
  }
  .header__icon {
    margin-left: 15px
  }
  .main_slider__slide_text {
    font-size: 3rem
  }
  .main_slider__slide_btn {
    margin-top: 20px
  }
}
@media (max-width:1199px) {
  .header__bottom_content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
  }
  .header__logo_text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
  .header__title {
    display: none
  }
  .header__icons_search {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
  .header__search_wr {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: absolute;
    width: 400px;
    top: 21px;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%)
  }
  .header__catalog_btn_wr {
    display: block;
    padding: 11px 0 7px;
    width: 150px;
    margin: 0 auto
  }
  .header__catalog_btn_wr:hover + .header__bottom_items {
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    -webkit-transition: max-height .3s,opacity .3s;
    -o-transition: max-height .3s,opacity .3s;
    transition: max-height .3s,opacity .3s;
    min-height: 94px;
    padding: 15px 0
  }
  .header__catalog_btn_wr:hover .header__catalog_btn::before {
    height: 100%;
    opacity: 1
  }
  .header__bottom_items {
    height: auto;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 930px;
    visibility: hidden;
    opacity: 0;
    max-height: 0
  }
  .header__bottom_items:hover {
    min-height: 94px;
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 15px 0
  }
  .header__bottom_item {
    margin: 0 15px
  }
  .main_slider__slide_content {
    top: 32%
  }
  .partners__items.this--limited .partners__item:nth-child(n+7) {
    display: block
  }
  .partners__items.this--limited .partners__item:nth-child(n+6) {
    display: none
  }
  .partners__item {
    width: calc(100% / 5 - 20px)
  }
  .about__slide_right {
    margin-left: 20px;
    width: calc(50% - 20px)
  }
  .about__slide_date {
    display: none
  }
  .about__slide_image_wr {
    display: none
  }
}
@media (max-width:1099px) {
  .main_slider__slide_text {
    font-size: 2.6rem
  }
}
@media (max-width:959px) {
  .main {
    padding-top: 158px
  }
  h2 {
    font-size: 2.4rem
  }
  .section {
    padding: 30px 0
  }
  .header__top_items {
    display: none
  }
  .header__bottom_content {
    padding: 20px 0
  }
  .header__logo_text {
    position: relative;
    z-index: 50
  }
  .header__logo {
    margin-right: 30px
  }
  .header__title {
    display: block;
    margin-top: 14px
  }
  .header__counts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
  .header__search_wr {
    display: none
  }
  .header__search_form.this--hidden {
    visibility: visible;
    opacity: 1
  }
  .header__search {
    margin-right: 15px
  }
  .header__search_form_btn {
    display: block;
    width: 34px;
    height: 34px;
    background: url(/img/main/icons/search.svg) center/cover no-repeat
  }
  .header__icon {
    margin-left: 30px
  }
  .header__icon:hover {
    border: 2px solid #fffbf2
  }
  .header__search_btn {
    display: none
  }
  .header__burger {
    display: block
  }
  .header__bottom_menu {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 1;
    padding: 120px 20px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    transform: translateX(120%)
  }
  .header__bottom_menu.menu-open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
  .header__catalog_btn_wr {
    display: none
  }
  .header__bottom_items {
    max-width: none;
    opacity: 1;
    visibility: visible;
    max-height: 100%;
    min-height: 0;
    margin-top: 30px
  }
  .header__bottom_items:hover {
    min-height: 0;
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 0
  }
  .header__bottom_item {
    margin: 0 14px 14px
  }
  .header__counts_search_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .header__counts_mob_wr {
    min-width: 400px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
  .header__search_mob_wr {
    width: 50%
  }
  .main_slider {
    padding-bottom: 55px
  }
  .main_slider__btn-next,
  .main_slider__btn-prev {
    display: none
  }
  .main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    background: #d1d1d1;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 50%;
    bottom: 20px
  }
  .main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet::after {
    display: none
  }
  .main_slider__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #f9c859
  }
  .main_slider__slide_img {
    padding-top: 50%
  }
  .main_slider__slide_content {
    position: static;
    margin-top: 15px;
    text-align: center;
    padding: 0 20px
  }
  .main_slider__slide_btn {
    margin: 15px auto 0
  }
  .partners__items {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -10px
  }
  .partners__items.this--limited .partners__item:nth-child(n+6) {
    display: block
  }
  .partners__items.this--limited .partners__item:nth-child(n+5) {
    display: none
  }
  .partners__item {
    width: calc(100% / 4 - 10px);
    margin-bottom: 10px;
    margin-left: 10px
  }
  .three_steps__items {
    margin-top: 20px
  }
  .about__slider {
    overflow: visible
  }
  .about__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  .about__slide {
    max-width: 90%
  }
  .about__slide_left {
    width: 100%
  }
  .about__slide_right {
    width: 100%;
    margin-left: 0;
    display: block
  }
  .about__slide_title {
    max-width: none;
    font-size: 1.8rem
  }
}
@media (max-width:767px) {
  .header__counts {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
  .header__search {
    height: 40px;
    font-size: 1.4rem
  }
  .header__bottom_items {
    display: block;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3
  }
  .header__counts_search_mob {
    display: block
  }
  .header__counts_mob_wr {
    min-width: 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .header__search_mob_wr {
    width: auto;
    max-width: 400px;
    margin: 0 auto 17px
  }
  .three_steps__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0
  }
  .three_steps__item {
    width: 100%;
    margin-left: 0
  }
  .three_steps__item_btn {
    margin: 5px auto 0
  }
}
@media (max-width:639px) {
  .header__title {
    display: none
  }
  .header__bottom_items {
    display: block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
  }
  .partners__items.this--limited .partners__item:nth-child(n+5) {
    display: block
  }
  .partners__items.this--limited .partners__item:nth-child(n+4) {
    display: none
  }
  .partners__item {
    width: calc(100% / 3 - 10px)
  }
}
@media (max-width:499px) {
  .main_slider__slide_img {
    padding-top: 70%
  }
  .partners__items.this--limited .partners__item:nth-child(n+4) {
    display: block
  }
  .partners__items.this--limited .partners__item:nth-child(n+7) {
    display: none
  }
  .partners__item {
    width: calc(100% / 2 - 10px)
  }
}
@media (max-width:424px) {
  .header__counts_mob_wr {
    display: block;
    overflow-x: auto;
    max-width: calc(100vw - 40px)
  }
}