<div class="order_detail__content">
    <div class="top_nav">
        <div class="top_nav__buttons">
            <button class="top_nav__button js_feedback_popup_open"
                    style="background: url('/img/top_nav/headphones.png') left center/ 25px 25px no-repeat">
                Связаться<br> с менеджером
            </button>
            <a href="#" class="top_nav__button"
               style="background: url('/img/top_nav/exit.png') left center/ 25px 25px no-repeat">Выйти</a>
        </div>
        <div class="top_nav__title_links_wr">
            <div class="top_nav__title_links">
                <h1 class="top_nav__title_links_title">Все заказы</h1>
                <a href="#" class="top_nav__title_links_link">Данные организации</a>
                <a href="#" class="top_nav__title_links_link">Профили заказов</a>
            </div>
        </div>
    </div>
    <a href="#" class="btn this--wh order_detail__prev_btn"><span class="prev_btn_arrow"></span>назад к заказам</a>
    <div class="order_detail__info">
        <div class="order_detail__info_top">
            <h2 class="order_detail__info_top_title this--no_line">заказ №2309092380 от 21.01.2022</h2>
            <div class="all_orders__top_links this--mt_0">
                <a href="#" class="all_orders__top_link">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd"
                              d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z"
                              fill="#F6F8FB"/>
                        <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd"
                              d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z"
                              fill="#4A4A4A"/>
                        <path class="path_arrow"
                              d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z"
                              fill="#ffffff"/>
                        <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                    </svg>
                    <span>Скачать все фотографии</span></a>
                <a href="#" class="all_orders__top_link">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd"
                              d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z"
                              fill="#F6F8FB"/>
                        <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd"
                              d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z"
                              fill="#4A4A4A"/>
                        <path class="path_arrow"
                              d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z"
                              fill="#ffffff"/>
                        <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                    </svg>
                    <span>Скачать все документы</span>
                </a>
            </div>
        </div>
        <div class="order_detail__info_body">
            <div class="order_detail__info_body_left">
                <div class="order_detail__info_body_row">
                    <div class="order_detail__info_body_row_left">
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Дата заказа</div>
                            <div class="order_detail__info_body_value">21.01.2022</div>
                        </div>
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Дата доставки</div>
                            <div class="order_detail__info_body_value">23.01.2022</div>
                        </div>
                    </div>
                    <div class="order_detail__info_body_row_right">
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Наименований</div>
                            <div class="order_detail__info_body_value">7</div>
                        </div>
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Товаров</div>
                            <div class="order_detail__info_body_value">98</div>
                        </div>
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Общий вес</div>
                            <div class="order_detail__info_body_value">230 г</div>
                        </div>
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Стоимость</div>
                            <div class="order_detail__info_body_value">108 000 ₽</div>
                        </div>
                        <div class="order_detail__info_body_item">
                            <div class="order_detail__info_body_label">Доставка</div>
                            <div class="order_detail__info_body_value">Бесплатно</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order_detail__info_body_center">
                <div class="order_detail__info_body_item">
                    <div class="order_detail__info_body_label">ФИО</div>
                    <div class="order_detail__info_body_value">Константинов Константин Константинович</div>
                </div>
                <div class="order_detail__info_body_item">
                    <div class="order_detail__info_body_label">Адрес</div>
                    <div class="order_detail__info_body_value">г. Астрахань, ул. Лесная, д. 143</div>
                </div>
                <div class="order_detail__info_body_item">
                    <div class="order_detail__info_body_label">Телефон</div>
                    <div class="order_detail__info_body_value">+7 (900) 000-00-00</div>
                </div>
                <div class="order_detail__info_body_item">
                    <div class="order_detail__info_body_label">E-mail</div>
                    <div class="order_detail__info_body_value">test@gmail.com</div>
                </div>
                <div class="order_detail__info_body_item">
                    <div class="order_detail__info_body_label">Способ оплаты</div>
                    <div class="order_detail__info_body_value">Оплата по факту</div>
                </div>
            </div>
            <div class="order_detail__info_body_bottom">
                <div class="order_detail__info_body_item this--flex">
                    <div class="order_detail__info_body_label">Статус заказа</div>
                    <div class="order_detail__info_body_value">Собран</div>
                </div>
                <div class="order_detail__info_body_bottom_title">Комментарий к заказу</div>
                <div class="order_detail__info_body_bottom_text">Высокое качество позиционных исследований выявляет
                    срочную потребность глубокомысленных рассуждений. Принимая во внимание показатели успешности, начало
                    повседневной работы по формированию позиции, в своём классическом представлении, допускает
                    внедрение.
                </div>
                <a href="#" class="btn this--wh order_detail__info_btn">повторить заказ
                    <span>
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.3333 6C9.81049 6 4 10.4772 4 16C4 21.5228 8.47715 26 14 26C19.5228 26 24 21.5228 24 16C24 14.3145 23.583 12.7265 22.8466 11.3333"
                              stroke="black" stroke-width="2" stroke-linecap="round"/>
                        <path d="M12 1L17 6.5L12 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="basket__body this--mt_15 this--order_detail">
        <div class="basket__body_table_wr">
            <div class="basket__body_table">
                <div class="basket__body_table_half">
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Серьги с фианитами длинное название в две строки с информацией</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr this--accordion js_accordion">
            <div class="basket__body_table">
                <div class="basket__body_table_half">
                    <button class="basket__body_table_arrow js_click_accordion"></button>
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Кольцо из белого золота с бриллиантами</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="js_accordion_body basket__body_accordion_body">
                <div class="basket__body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                            <div class="basket__body_table_group_item this--width_55">
                                15.5
                            </div>
                            <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                            <div class="basket__body_table_group_item this--width_55">
                                18
                            </div>
                            <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                            <div class="basket__body_table_group_item this--width_55">
                                21
                            </div>
                            <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr this--accordion js_accordion">
            <div class="basket__body_table">
                <div class="basket__body_table_half">
                    <button class="basket__body_table_arrow js_click_accordion"></button>
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Кольцо из белого золота с бриллиантами</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="js_accordion_body basket__body_accordion_body">
                <div class="basket__body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                            <div class="basket__body_table_group_item this--width_55">
                                15.5
                            </div>
                            <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                            <div class="basket__body_table_group_item this--width_55">
                                18
                            </div>
                            <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_sp_bentween this--mr_0">
                            <div class="basket__body_table_group_item this--width_55">
                                21
                            </div>
                            <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>