<div class="basket__content">
    <h1 class="basket__title this--center_all">Корзина</h1>
    <div class="basket__top">
        <div class="basket__links">
            <a href="#" class="basket__link active">В наличии <span class="basket__link_count">103</span></a>
            <a href="#" class="basket__link">под заказ <span class="basket__link_count">11</span></a>
        </div>
        <div class="basket__attention">
            <span class="input_error_message__icon this--black">!</span>Минимальный вес для доставки - 100 г
        </div>
    </div>
    <div class="basket__body">
        <div class="basket__body_labels">
            <div class="basket__body_labels_half">
                <div class="basket__body_label this--width_530">Изделие</div>
                <div class="basket__body_label this--width_150 this--center">Артикул</div>
            </div>
            <div class="basket__body_labels_half">
                <div class="basket__body_label this--width_70 this--center">Вес</div>
                <div class="basket__body_label this--width_100 this--center">Без скидки</div>
                <div class="basket__body_label this--width_100 this--center">Сумма</div>
                <div class="basket__body_label basket__body_label_group this--width_200 this--center">
                    <div class="basket__body_label_group_item this--width_55">Размер</div>
                    <div class="basket__body_label_group_item this--width_130">Количество</div>
                </div>
            </div>
        </div>
        <div class="basket__body_category_wr this--gold basket__body_table_wr">
            <div class="basket__body_category basket__body_table">
                <div class="basket__body_category_half basket__body_table_half">
                    <div class="basket__body_category_item basket__body_table_item this--width_530 this--uppercase this--fz_2rem">
                        Золото
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_150"></div>
                </div>
                <div class="basket__body_category_half basket__body_table_half">
                    <div class="basket__body_category_item basket__body_table_item this--width_70 this--center this--no_wrap">
                        235 г
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        314 000 ₽
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        224 000 ₽
                    </div>
                    <div class="basket__body_category_group basket__body_table_group basket__body_category_item basket__body_table_item this--width_200 this--mob_width_auto this--center">
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_55 this--no_mobile">
                        </div>
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr js_body_table_wr">
            <div class="basket__body_table js_body_table">
                <div class="basket__body_table_half">
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Серьги с фианитами длинное название в две строки с информацией</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                    <button class="basket__body_table_close"></button>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                            <div class="basket__body_table_group_item_minus">

                            </div>
                            <div class="basket__body_table_group_item_value">
                                0
                            </div>
                            <div class="basket__body_table_group_item_plus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr this--accordion js_accordion js_body_table_wr">
            <div class="basket__body_table">
                <div class="basket__body_table_half">
                    <button class="basket__body_table_arrow js_click_accordion"></button>
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Кольцо из белого золота с бриллиантами</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                    <button class="basket__body_table_close"></button>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex this--center this--no_hover">
                            <div class="basket__body_table_group_item_value js_sum_num">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js_accordion_body basket__body_accordion_body">
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                15.5
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                18
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                21
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr this--accordion js_accordion js_body_table_wr">
            <div class="basket__body_table">
                <div class="basket__body_table_half">
                    <button class="basket__body_table_arrow js_click_accordion"></button>
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Кольцо из белого золота с бриллиантами</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                    <button class="basket__body_table_close"></button>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex this--center this--no_hover">
                            <div class="basket__body_table_group_item_value js_sum_num">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js_accordion_body basket__body_accordion_body">
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                15.5
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                18
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                21
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_category_wr this--silver basket__body_table_wr">
            <div class="basket__body_category basket__body_table">
                <div class="basket__body_category_half basket__body_table_half">
                    <div class="basket__body_category_item basket__body_table_item this--width_530 this--uppercase this--fz_2rem">
                        серебро
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_150"></div>
                </div>
                <div class="basket__body_category_half basket__body_table_half">
                    <div class="basket__body_category_item basket__body_table_item this--width_70 this--center this--no_wrap">
                        235 г
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        314 000 ₽
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        224 000 ₽
                    </div>
                    <div class="basket__body_category_group basket__body_table_group basket__body_category_item basket__body_table_item this--width_200 this--mob_width_auto this--center">
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_55 this--no_mobile">
                        </div>
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr js_body_table_wr">
            <div class="basket__body_table js_body_table">
                <div class="basket__body_table_half">
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Серьги с фианитами длинное название в две строки с информацией</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                    <button class="basket__body_table_close"></button>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                            <div class="basket__body_table_group_item_minus">

                            </div>
                            <div class="basket__body_table_group_item_value">
                                0
                            </div>
                            <div class="basket__body_table_group_item_plus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_table_wr this--accordion js_accordion js_body_table_wr">
            <div class="basket__body_table">
                <div class="basket__body_table_half">
                    <button class="basket__body_table_arrow js_click_accordion"></button>
                    <a href="#" class="basket__body_table_item this--link this--width_530">
                        <img src="/img/basket/1.png" alt=""><span>Кольцо из белого золота с бриллиантами</span>
                    </a>
                    <div class="basket__body_table_item this--width_150 this--center">798457349</div>
                    <button class="basket__body_table_close"></button>
                </div>
                <div class="basket__body_table_half">
                    <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                        98 г
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        44 000 ₽
                    </div>
                    <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        24 000 ₽
                    </div>
                    <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                        <div class="basket__body_table_group_item this--width_55">
                        </div>
                        <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex this--center this--no_hover">
                            <div class="basket__body_table_group_item_value js_sum_num">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js_accordion_body basket__body_accordion_body">
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                15.5
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    8
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                18
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
                <div class="basket__body_table js_body_table">
                    <div class="basket__body_table_half this--no_tablet">
                        <div class="basket__body_table_item this--width_530"></div>
                        <div class="basket__body_table_item this--width_150 this--center"></div>
                    </div>
                    <div class="basket__body_table_half">
                        <div class="basket__body_table_item this--width_70 this--center this--no_wrap">
                            98 г
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                            44 000 ₽
                        </div>
                        <div class="basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                            24 000 ₽
                        </div>
                        <div class="basket__body_table_group basket__body_table_item this--width_200 this--center this--flex_end">
                            <div class="basket__body_table_group_item this--width_55">
                                21
                            </div>
                            <div class="basket__body_table_group_item this--width_130 this--fz_2rem this--flex">
                                <div class="basket__body_table_group_item_minus">

                                </div>
                                <div class="basket__body_table_group_item_value">
                                    0
                                </div>
                                <div class="basket__body_table_group_item_plus">

                                </div>
                            </div>
                            <button class="basket__body_table_close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__body_category_wr this--total basket__body_table_wr">
            <div class="basket__body_category basket__body_table">
                <div class="basket__body_category_half basket__body_table_half this--flex_start">
                    <div class="basket__body_category_item basket__body_table_item this--uppercase this--fz_2rem">
                        итого
                    </div>
                    <div class="basket__body_category_item basket__body_table_item">
                        Доставка <span class="basket__body_category_item_bold_text">бесплатно</span>
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--no_wrap this--mob_width_100">
                        Скидка <span class="basket__body_category_item_bold_text">90 000 ₽</span>
                    </div>
                </div>
                <div class="basket__body_category_half basket__body_table_half">
                    <div class="basket__body_category_item basket__body_table_item this--width_70 this--center this--no_wrap">
                        735 г
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_100 this--center this--line_through this--no_wrap">
                        538 000 ₽
                    </div>
                    <div class="basket__body_category_item basket__body_table_item this--width_100 this--center this--fw_600 this--no_wrap">
                        448 000 ₽
                    </div>
                    <div class="basket__body_category_group basket__body_table_group basket__body_category_item basket__body_table_item this--width_200 this--mob_width_auto this--center">
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_55 this--no_mobile">
                        </div>
                        <div class="basket__body_category_group_item basket__body_table_group_item this--width_130 this--mob_width_70 this--fz_2rem this--mob_border">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn basket_btn">Оформить заказ на товары в наличии</a>
</div>