<div class="detail__content">
    <div class="detail__row detail__top">
        <div class="detail__left">
            @@include('../detail_slider/detail_slider.html')
        </div>
        <div class="detail__right">
            @@include('../detail_info/detail_info.html')
            @@include('../detail_sizes/detail_sizes.html')
        </div>
    </div>
    <div class="detail__row detail__bottom">
        <div class="detail__left">
            @@include('../detail_size_set/detail_size_set.html')
        </div>
        <div class="detail__right">
            @@include('../detail_tabs/detail_tabs.html')
        </div>
    </div>
    @@include('../detail_recommend/detail_recommend.html')
</div>