<div class="about_page__reviews section this--top">
    <div class="container">
        <div class="about_page__reviews_content">
            <h2 class="about_page__reviews_title">пишут наши клиенты</h2>
            <div class="about_page__reviews_items">
                <div class="about_page__reviews_item">
                    <div class="about_page__reviews_item_title">
                        <div>ИП Волкова И.Б.</div>
                        <div>г. Ярославль</div>
                    </div>
                    <div class="about_page__reviews_item_text">
                        «Санис ценен для нашей компании как эксклюзивный ассортимент. В сочетании с качеством изделий
                        всегда присутствует отличный от других дизайн. Гибкий, лояльный подход к работе. В городе
                        представлен только в наших салонах, работаем на больших объёмах. Очень довольны».
                    </div>
                    <div class="about_page__reviews_item_img">
                        <img src="/img/about_page/review_icon.png" alt="">
                    </div>
                </div>
                <div class="about_page__reviews_item">
                    <div class="about_page__reviews_item_title">
                        Торговый дом "Диамант Оренбург"
                    </div>
                    <div class="about_page__reviews_item_text">
                        <p>«От имени нашей компании выражаем глубокую благодарность коллективу завода „Санис“
                            за взаимовыгодное сотрудничество.</p>
                        <p> Обновления ваших коллекций — это всегда праздник! Ваши украшения на витринах в наших салонах
                            особая гордость.</p>
                        <p>Искренне заинтересованы в продолжении сотрудничества и желаем вам стабильности во всем
                            и воплощения новых идей!</p>
                        <p>Отдельная благодарность нашему менеджеру Марии за оперативность в работе и знание
                            ассортимента!»</p>
                    </div>
                    <div class="about_page__reviews_item_img">
                        <img src="/img/about_page/review_icon.png" alt="">
                    </div>
                </div>
                <div class="about_page__reviews_item">
                    <div class="about_page__reviews_item_title">
                        <div> ИП Чечнева О.В.</div>
                        <div>г. Белорецк</div>
                    </div>
                    <div class="about_page__reviews_item_text">
                        «Ювелирный завод „Санис“ является одним из лидеров ювелирной отрасли. С этой компанией сотрудничаем с 2013 года. За этот период они проявили себя как надёжный партнёр. Все заявки выполняет вовремя и в нужном количестве. Ассортимент отличается разнообразием и пользуется повышенным спросом, безупречным качеством изделий, стилем и модным дизайном».
                    </div>
                    <div class="about_page__reviews_item_img">
                        <img src="/img/about_page/review_icon.png" alt="">
                    </div>
                </div>
                <div class="about_page__reviews_item">
                    <div class="about_page__reviews_item_title">
                        <div>ООО "Янтарь"</div>
                        <div>г. Москва</div>
                    </div>
                    <div class="about_page__reviews_item_text">
                        «Замечательный завод „Санис“ с приятными ценами, качественными и актуальными изделиями. Менеджеры компетентны, вежливы,всегда на связи. Сотрудничаем с ними не первый год и очень довольны. Особую благодарность выражаем Марии, надеемся и в дальнейшем продолжать с ней работать!».
                    </div>
                    <div class="about_page__reviews_item_img">
                        <img src="/img/about_page/review_icon.png" alt="">
                    </div>
                </div>
                <div class="about_page__reviews_item">
                    <div class="about_page__reviews_item_title">
                        <div>ИП Цацурина М.Г.</div>
                        <div>сеть магазинов "Русское золото"</div>
                        <div>г. Смоленск</div>
                    </div>
                    <div class="about_page__reviews_item_text">
                        «Санис ценен для нашей компании как эксклюзивный ассортимент. В сочетании с качеством изделий
                        всегда присутствует отличный от других дизайн. Гибкий, лояльный подход к работе. В городе
                        представлен только в наших салонах, работаем на больших объёмах. Очень довольны».
                    </div>
                    <div class="about_page__reviews_item_img">
                        <img src="/img/about_page/review_icon.png" alt="">
                    </div>
                </div>
                <div class="about_page__reviews_item">
                    <div class="about_page__reviews_item_title">
                        <div>Цеденова С.В.</div>
                        <div> г. Абакан</div>
                    </div>
                    <div class="about_page__reviews_item_text">
                        <p>«Ювелирный завод Санис — наш фаворит в мире классических украшений. Их красоту и незаурядность отмечаем и мы, и наши покупатели, регулярно получаем положительные отзывы о качестве выполненной работы.</p>
                        <p>Хочется отметить, что команда завода состоит из самодостаточных сотрудников и на выставочном стенде всегда ощущается ни с кем не сравнимая атмосфера искренней радости встречи.</p>
                        <p>Менеджер Наталья — человек, который никогда не оставит неразрешенной проблему, быстро и ответственно выполнит все просьбы, сделает все возможное и невозможное.</p>
                        <p>Работаем с заводом на протяжении пяти лет, уверены, что впереди нас ждет такое же плодотворное, интересное и легкое сотрудничество».</p>
                    </div>
                    <div class="about_page__reviews_item_img">
                        <img src="/img/about_page/review_icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>