<div class="detail_set section">
    <h2 class="detail_set__title">возьмите в комплекте</h2>
    <div class="detail_set__row">
        <div class="detail_set__right">
            <div class="detail_set__subtitle">Название комплекта</div>
            <div class="detail_set__text">Описание комплекта. Учитывая ключевые сценарии поведения, консультация с широким активом представляет собой интересный эксперимент.</div>
        </div>
        <div class="detail_set__left">
            <div class="detail_set__cards item__cards this--two">
                <div class="item_card this--new this--hit this--discount">
                    <button class="item_card__favorite"></button>
                    <a href="/detail_size.html" class="item_card__link">
                        <div class="item_card__top_img">
                            <img src="/img/catalog/cards_img/1.jpg" alt="">
                            <div class="item_card__new_hit">
                                <span class="item_card__new">NEW</span>
                                <span class="item_card__hit">ХИТ</span>
                            </div>
                            <span class="item_card__discount">-15%</span>
                        </div>
                        <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                        <div class="item_card__price">
                            от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                        </div>
                    </a>
                </div>
                <div class="item_card this--discount">
                    <button class="item_card__favorite"></button>
                    <a href="#" class="item_card__link">
                        <div class="item_card__top_img">
                            <img src="/img/catalog/cards_img/2.jpg" alt="">
                            <div class="item_card__new_hit">
                                <span class="item_card__new">NEW</span>
                                <span class="item_card__hit">ХИТ</span>
                            </div>
                            <span class="item_card__discount">-25%</span>
                        </div>
                        <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                        <div class="item_card__price">
                            от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>