<form action="" class="detail_sizes">
    <div class="detail_sizes_items">
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">15</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">15.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">16</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">16.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">17</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">17.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">18</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">18.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">19</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">19.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">20</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">20.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">21</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">21.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">22</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">22.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">23</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">23.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">24</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">24.5</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
        <div class="detail_sizes__item">
            <div class="detail_sizes__item_size">25</div>
            <div class="detail_sizes__item_in_stock">
                в наличии
                <br>
                <span>31</span>
            </div>

            <div class="detail_sizes__item_bottom">
                <input type="text" class="detail_sizes__hidden_input">
                <button class="detail_sizes__item_minus"></button>
                <span class="detail_sizes__item_value">0</span>
                <button class="detail_sizes__item_plus"></button>
            </div>
            <div class="detail_sizes__item_ordered">8</div>
        </div>
    </div>
    <button class="detail_sizes__more_btn this--hidden">Все размеры</button>
    <button class="detail_sizes__btn btn this--width_full this--disabled">добавить в корзину</button>
</form>