<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top_content">
                <a href="#" class="header__top_city">
                    Санкт-Петербург
                </a>
                <nav class="header__top_menu">
                    <ul class="header__top_items">
                        <li class="header__top_item"><a href="#" class="header__top_link">О компании</a></li>
                        <li class="header__top_item"><a href="#" class="header__top_link">Партнерам</a></li>
                        <li class="header__top_item"><a href="#" class="header__top_link">Адреса</a></li>
                        <li class="header__top_item"><a href="#" class="header__top_link">Новости</a></li>
                    </ul>
                </nav>
                <a href="tel:+78123634744" class="header__top_tel">+7 (812) 363-47-44</a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom_content">
                <div class="header__logo_text">
                    <div class="header__logo">
                        <img src="/img/main/main_logo.png" alt="">
                    </div>
                    <h1 class="header__title">
                        Оптовый интернет-магазин
                        <span>ювелирных украшений</span>
                    </h1>
                </div>
                <div class="header__counts">
                    <div class="header__count">
                        <div class="header__count_top">шт</div>
                        <div class="header__count_value">103</div>
                        <div class="header__count_bottom">в наличии</div>
                    </div>
                    <div class="header__count_line"></div>
                    <div class="header__count">
                        <div class="header__count_top">шт</div>
                        <div class="header__count_value">11</div>
                        <div class="header__count_bottom">под заказ</div>
                    </div>
                    <div class="header__count_line"></div>
                    <div class="header__count">
                        <div class="header__count_top">г</div>
                        <div class="header__count_value">114</div>
                        <div class="header__count_bottom">Общий вес</div>
                    </div>
                    <div class="header__count_line"></div>
                    <div class="header__count">
                        <div class="header__count_top">шт</div>
                        <div class="header__count_value">34</div>
                        <div class="header__count_bottom">позиций</div>
                    </div>
                </div>
                <div class="header__icons_search">
                    <div class="header__search_wr">
                        <form action="" name="search" class="header__search_form this--hidden">
                            <input type="text" class="header__search">
                            <input type="submit" class="header__search_form_btn" value="">
                        </form>
                    </div>
                    <div class="header__icons">
                        <a href="#" class="header__icon header__search_btn"></a>
                        <a href="#" class="header__icon header__profile_btn"></a>
                        <a href="#" class="header__icon header__basket_btn"></a>
                    </div>
                    <div class="header__burger">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="header__bottom_menu">
                <div class="header__bottom_mobile_bg">
                    <div class="header__counts_search_mob">
                        <div class="header__search_mob_wr"></div>
                        <div class="header__counts_mob_wr"></div>
                    </div>
                    <div class="header__catalog_btn_wr">
                        <div class="header__catalog_btn btn this--small this--transparent"><span>Каталог</span></div>
                    </div>
                    <ul class="header__bottom_items">
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">серьги</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">кольца</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">браслеты</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">подвески</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">колье</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">пирсинг</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">броши</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">запонки</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">изделия с деревом</a>
                        </li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">религиозные</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">подарки</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">коллекции</a></li>
                        <li class="header__bottom_item"><a href="#" class="header__bottom_link">прочее</a></li>
                    </ul>
                    <div class="footer__content this--header">
                        <div class="footer__row">
                            <div class="footer__menu_social">
                                <ul class="footer__menu">
                                    <li class="footer__menu_item"><a href="#" class="footer__menu_link">О компании</a>
                                    </li>
                                    <li class="footer__menu_item"><a href="#" class="footer__menu_link">Партнерам</a>
                                    </li>
                                    <li class="footer__menu_item"><a href="#" class="footer__menu_link">Адреса</a></li>
                                    <li class="footer__menu_item"><a href="#" class="footer__menu_link">Новости</a></li>
                                </ul>
                                <div class="footer__copyright">
                                    © Sanis Copyright
                                </div>
                                <div class="footer__social">
                                    <a href="#" class="footer__tick-tok"></a>
                                    <a href="#" class="footer__vk"></a>
                                </div>
                            </div>
                            <div class="footer__contacts">
                                <div class="footer__tel"><a href="tel:+78123634744">+7 (812) 363-47-44</a></div>
                                <div class="footer__tel"><a href="tel:+78123630000">+7 (812) 363-00-00</a></div>
                                <div class="footer__email"><a href="mailto:sales@sanis.ru">sales@sanis.ru</a></div>
                            </div>
                            <div class="footer__address">
                                г. Санкт-Петербург,<br> Херсонская улица 39, <br>офис 8-02 (8-этаж)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>