<section class="three_steps section">
    <div class="container">
        <div class="three_steps__content">
            <h2 class="three_steps__title">заключите договор <br>всего в 3 шага</h2>
            <div class="three_steps__items">
                <div class="three_steps__item">
                    <div class="three_steps__item_img">
                        <img src="/img/main/three_steps/1.svg" alt="">
                    </div>
                    <div class="three_steps__item_text">Оставьте свою заявку</div>
                    <div class="three_steps__item_btn btn js_feedback_popup_open"><span>оставить заявку</span></div>
                </div>
                <div class="three_steps__item">
                    <div class="three_steps__item_img">
                        <img src="/img/main/three_steps/2.svg" alt="">
                    </div>
                    <div class="three_steps__item_text">Отправьте документы</div>
                </div>
                <div class="three_steps__item">
                    <div class="three_steps__item_img">
                        <img src="/img/main/three_steps/3.svg" alt="">
                    </div>
                    <div class="three_steps__item_text">Подпишите договор</div>
                </div>
            </div>
        </div>
    </div>
</section>