<main class="thanks">
    <div class="container">
        <div class="thanks__content section">
            <h1 class="thanks__title this--center_all">Спасибо за Ваш заказ!</h1>
            <div class="thanks__subtitle">Данные о заказе также придут на почту</div>
            <div class="thanks__body">
                <div class="thanks__left">
                    <div class="thanks__left_columns">
                        <div class="thanks__left_column">
                            <div class="thanks__item">
                                <div class="thanks__label">Дата доставки</div>
                                <div class="thanks__value">23.01.2022</div>
                            </div>
                            <div class="thanks__item">
                                <div class="thanks__label">Наименований</div>
                                <div class="thanks__value">7</div>
                            </div>
                            <div class="thanks__item">
                                <div class="thanks__label">Товаров</div>
                                <div class="thanks__value">98</div>
                            </div>
                            <div class="thanks__item">
                                <div class="thanks__label">Общий вес</div>
                                <div class="thanks__value">230 г</div>
                            </div>
                        </div>
                        <div class="thanks__left_column">
                            <div class="thanks__item">
                                <div class="thanks__label">Сумма без скидки</div>
                                <div class="thanks__value this--line_through">138 000 ₽</div>
                            </div>
                            <div class="thanks__item">
                                <div class="thanks__label">Сумма</div>
                                <div class="thanks__value">108 000 ₽</div>
                            </div>
                            <div class="thanks__item">
                                <div class="thanks__label">Доставка</div>
                                <div class="thanks__value">Бесплатно</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thanks__right">
                    <div class="thanks__item">
                        <div class="thanks__label">ФИО</div>
                        <div class="thanks__value">Константинов Константин Константинович</div>
                    </div>
                    <div class="thanks__item">
                        <div class="thanks__label">Адрес</div>
                        <div class="thanks__value">г. Астрахань, ул. Лесная, д. 143</div>
                    </div>
                    <div class="thanks__item">
                        <div class="thanks__label">Телефон</div>
                        <div class="thanks__value">+7 (900) 000-00-00</div>
                    </div>
                    <div class="thanks__item">
                        <div class="thanks__label">E-mail</div>
                        <div class="thanks__value">test@gmail.com</div>
                    </div>
                    <div class="thanks__item">
                        <div class="thanks__label">Способ оплаты</div>
                        <div class="thanks__value">Оплата по факту</div>
                    </div>
                </div>
                <div class="thanks__bottom">
                    <div class="thanks__item">
                        <div class="thanks__label">Комментарий к заказу</div>
                        <div class="thanks__value">Высокое качество позиционных исследований выявляет срочную потребность глубокомысленных рассуждений. Принимая во внимание показатели успешности, начало повседневной работы по формированию позиции, в своём классическом представлении, допускает внедрение.</div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn this--wh thanks__btn">продолжить покупки</a>
        </div>
    </div>
</main>