.footer {
  background: #000000;
}

.footer__content {
  padding: 40px 0;
  @media($tablet2) {
    padding: 30px 0;
  }
  &.this--header {
    display: none;
    @media($tablet2) {
      padding: 20px 0 30px;
      display: block;
    }
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  @media($mobile) {
    display: block;
  }
}

.footer__menu {
  list-style-type: none;
  display: flex;
  margin-left: -20px;

  @media($tablet) {
    display: block;
    margin-left: 0;
  }
}

.footer__menu_item {
  margin-left: 20px;
  @media($tablet) {
    margin-left: 0;
  }
  @media($mobile) {
    margin-bottom: 20px;
  }
}
.footer__menu_link {
  font-weight: 400;
  font-size: 1.4rem;
  color: #FFFFFF;
  transition: 0.3s;
  &:hover {
    @media($tablet2Max) {
       color: #F9C859;
    }
  }
  .footer__content.this--header & {
    color: #000000;
  }
}
.footer__copyright {
  font-weight: 400;
  font-size: 1.4rem;
  color: #FFFFFF;
  margin-top: 15px;
  @media($mobile) {
    margin-top: 30px;
  }
  .footer__content.this--header & {
    color: #000000;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.footer__tik-tok {
  width: 20px;
  height: 24px;
  margin-right: 24px;
  svg {
    width: 100%;
    height: 100%;
    path {
      transition: 0.3s;
    }
  }

  &:hover {
    @media ($tablet2Max) {
      svg {
          path {
          stroke: #F9C859;
          }
      }
    }
  }
  .footer__content.this--header & {
    svg {
      path {
        stroke: #000000;
      }
    }
  }
}
.footer__vk {
  width: 29px;
  height: 17px;
  svg {
    width: 100%;
    height: 100%;
    path {
      transition: 0.3s;
    }
  }

  &:hover {
    @media ($tablet2Max) {
      svg {
        path {
          stroke: #F9C859;
        }
      }
    }
  }
  .footer__content.this--header & {
    svg {
      path {
        stroke: #000000;
      }
    }
  }
}
.footer__contacts {
  text-align: center;
  margin-right: 73px;
  @media($tablet) {
    margin-right:0;
    margin-left: 127px;
  }
  @media($tablet3) {
    margin-left: 25px;
  }
  @media($mobile) {
    margin-left: 0;
    text-align: left;
    margin-top: 30px;
  }
}
.footer__tel {
  margin-bottom: 10px;
  a {
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s;
    &:hover {
      @media($tablet2Max) {
        color: #F9C859;
      }
    }
    .footer__content.this--header & {
      color: #000000;
    }
  }
  @media($mobile) {
    margin-bottom: 20px;
  }
}

.footer__email {
  a {
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s;
    &:hover {
      @media($tablet2Max) {
        color: #F9C859;
      }
    }
    .footer__content.this--header & {
      color: #000000;
    }
  }
}

.footer__address {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #FFFFFF;
  text-align: right;
  @media($mobile) {
    text-align: left;
    margin-top: 20px;
    br:first-child {
      display: none;
    }
  }
  .footer__content.this--header & {
    color: #000000;
  }
}

.footer__logo {
  display: flex;
  margin-top: 10px;
  align-items: center;
  @media ($tablet3) {
    flex-wrap: wrap;
    max-width: 130px;
    justify-content: flex-end;
  }
  @media ($mobile) {
    flex-wrap: nowrap;
    max-width: none;
    justify-content: flex-start;
  }
}
.footer__logo_text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #FFFFFF;
  margin-right: 7px;
  @media ($tablet3) {
    margin-right: 0;
  }
  @media ($mobile) {
    margin-right: 7px;
  }
}