<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__row">
                <div class="footer__menu_social">
                    <ul class="footer__menu">
                        <li class="footer__menu_item"><a href="#" class="footer__menu_link">О компании</a></li>
                        <li class="footer__menu_item"><a href="#" class="footer__menu_link">Партнерам</a></li>
                        <li class="footer__menu_item"><a href="#" class="footer__menu_link">Адреса</a></li>
                        <li class="footer__menu_item"><a href="#" class="footer__menu_link">Новости</a></li>
                    </ul>
                    <div class="footer__copyright">
                        © Sanis Copyright
                    </div>
                    <div class="footer__social">
                        <a href="#" class="footer__tick-tok"></a>
                        <a href="#" class="footer__vk"></a>
                    </div>
                </div>
                <div class="footer__contacts">
                    <div class="footer__tel"><a href="tel:+78123634744">+7 (812) 363-47-44</a></div>
                    <div class="footer__tel"><a href="tel:+78123630000">+7 (812) 363-00-00</a></div>
                    <div class="footer__email"><a href="mailto:sales@sanis.ru">sales@sanis.ru</a></div>
                </div>
                <div class="footer__address">
                    г. Санкт-Петербург,<br> Херсонская улица 39, <br>офис 8-02 (8-этаж)
                </div>
            </div>
        </div>
    </div>
</footer>