<div class="news_card__content">
    <div class="news_card__content_left">
        <h1 class="news_card__title">Спасибо, что были с нами на выставке JUNWEX!</h1>
        <div class="main_news__item_date">16.03.2022</div>
        <div class="news_card__img">
            <img src="/img/main/main_news/big.jpg" alt="">
        </div>
        <div class="news_card__text">
            <p>Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -
                указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом
                предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто,
                независимые государства, которые представляют собой яркий пример континентально-европейского типа
                политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную
                пользу обществу.</p>
            <p>Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -
                указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом
                предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто,
                независимые государства, которые представляют собой яркий пример континентально-европейского типа
                политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную
                пользу обществу.</p>
            <p>Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -
                указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом
                предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто,
                независимые государства, которые представляют собой яркий пример континентально-европейского типа
                политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную
                пользу обществу.</p>
            <p>Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -
                указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом
                предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто,
                независимые государства, которые представляют собой яркий пример континентально-европейского типа
                политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную
                пользу обществу. </p>
        </div>
        <a href="#" class="news_card__btn btn this--wh"><span class="prev_btn_arrow"></span> назад к новостям</a>
    </div>
    <div class="news_card__content_right">
        <div class="news_card__content_fixed">
            <h2 class="news_card__content_fixed_title">читайте также</h2>
            <a href="#" class="main_news__item">
                <div class="main_news__item_img">
                    <img src="/img/main/main_news/1.jpg" alt="">
                </div>
                <div class="main_news__item_bottom">
                    <div class="main_news__item_text">Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ</div>
                    <div class="main_news__item_date">04.03.2022</div>
                </div>
            </a>
            <a href="#" class="main_news__item">
                <div class="main_news__item_img">
                    <img src="/img/main/main_news/2.jpg" alt="">
                </div>
                <div class="main_news__item_bottom">
                    <div class="main_news__item_text">Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ
                        дополнительная строка
                    </div>
                    <div class="main_news__item_date">04.03.2022</div>
                </div>
            </a>
        </div>
    </div>
</div>