<div class="ordering_profiles_all__content">
    <div class="top_nav">
        <div class="top_nav__buttons">
            <button class="top_nav__button js_feedback_popup_open" style="background: url('/img/top_nav/headphones.png') left center/ 25px 25px no-repeat">Связаться<br> с менеджером</button>
            <a href="#" class="top_nav__button" style="background: url('/img/top_nav/exit.png') left center/ 25px 25px no-repeat">Выйти</a>
        </div>
        <div class="top_nav__title_links_wr">
            <div class="top_nav__title_links">
                <h1 class="top_nav__title_links_title">Профили заказов</h1>
                <a href="#" class="top_nav__title_links_link">Данные организации</a>
                <a href="#" class="top_nav__title_links_link">Все заказы</a>
            </div>
        </div>
    </div>
    @@include('./profiles_cards/profiles_cards.html')
    <button class="btn this--wh ordering_profiles_all__btn">добавить новый</button>
</div>