<div class="login_content">
    <h1 class="login__title this--center_all">Вход</h1>
    <form action="" class="login__form login_form">
        <div class="input_wr">
            <label for="login_password" class="login_form__label input_label">E-mail *</label>
            <input class="login_form__input text_input js_validate" type="email" name="login_email" id="login_email">
            <div class="login_form__input_error_message input_error_message"><span class="input_error_message__icon">!</span><span class="input_error_message__text">Заполните поле</span></div>
        </div>
        <div class="input_wr">
            <label for="login_password" class="login_form__label input_label">Пароль *</label>
            <input class="login_form__input text_input js_validate" type="password" name="login_password" id="login_password">
            <div class="login__input_error_message input_error_message"><span class="input_error_message__icon">!</span><span class="input_error_message__text">Заполните поле</span></div>
        </div>
        <div class="login_form__link_wr">
            <a href="#" class="login_form__link">Забыли пароль?</a>
        </div>
        <div class="input_wr">
            <input type="checkbox" id="remember" class="checkbox">
            <label class="login_checkbox_label checkbox_label" for="remember">Запомнить меня</label>
        </div>
        <div class="input_wr">
            <input type="submit" class="btn this--width_300 this--center" value="войти">
        </div>
    </form>
</div>