<div class="ordering_profiles_detail__content">
    <div class="top_nav">
        <div class="top_nav__buttons">
            <button class="top_nav__button js_feedback_popup_open" style="background: url('/img/top_nav/headphones.png') left center/ 25px 25px no-repeat">Связаться<br> с менеджером</button>
            <a href="#" class="top_nav__button" style="background: url('/img/top_nav/exit.png') left center/ 25px 25px no-repeat">Выйти</a>
        </div>
        <div class="top_nav__title_links_wr">
            <div class="top_nav__title_links">
                <h1 class="top_nav__title_links_title">Профили заказов</h1>
                <a href="#" class="top_nav__title_links_link">Данные организации</a>
                <a href="#" class="top_nav__title_links_link">Все заказы</a>
            </div>
        </div>
    </div>
    <a href="#" class="btn this--wh ordering_profiles_detail__prev_btn"><span class="prev_btn_arrow"></span>назад к профилям</a>
    <h2 class="ordering_profiles_detail__title this--no_line">профиль: Астрахань, Лесная, 143; Константинов константин константинович</h2>
    <div class="ordering_profiles_detail__info">
        <div class="ordering_profiles_detail__info_half">
            <div class="ordering_profiles_detail__info_item this--width_150">
                <div class="ordering_profiles_detail__info_item_label">ФИО</div>
                <div class="ordering_profiles_detail__info_item_value this--no_wrap">Константинов К К</div>
            </div>
            <div class="ordering_profiles_detail__info_item this--width_200">
                <div class="ordering_profiles_detail__info_item_label">Город</div>
                <div class="ordering_profiles_detail__info_item_value">Астрахань</div>
            </div>
            <div class="ordering_profiles_detail__info_item this--width_250">
                <div class="ordering_profiles_detail__info_item_label">Адрес</div>
                <div class="ordering_profiles_detail__info_item_value">ул. Лесная, д. 143</div>
            </div>
        </div>
        <div class="ordering_profiles_detail__info_half">
            <div class="ordering_profiles_detail__info_item this--width_180">
                <div class="ordering_profiles_detail__info_item_label">Телефон</div>
                <div class="ordering_profiles_detail__info_item_value this--no_wrap">+7 (900) 000-00-00</div>
            </div>
            <div class="ordering_profiles_detail__info_item this--width_250">
                <div class="ordering_profiles_detail__info_item_label">E-mail</div>
                <div class="ordering_profiles_detail__info_item_value">test@gmail.com</div>
            </div>
            <div class="ordering_profiles_detail__info_item this--width_225">
                <div class="ordering_profiles_detail__info_item_label">Способ оплаты</div>
                <div class="ordering_profiles_detail__info_item_value this--no_wrap">Отсрочка 45 дней</div>
            </div>
        </div>
        <a href="#" class="ordering_profiles_detail__info_link">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.20437 22.7903L7.53786 21.8762L18.579 10.835L14.1626 6.41858L3.1214 17.4597L2.20437 22.7903Z" fill="#B8B8B8"/>
                <rect x="20.2969" y="9.12109" width="6.24582" height="3.82328" transform="rotate(-135 20.2969 9.12109)" fill="#B8B8B8"/>
            </svg>
        </a>
    </div>
    <div class="ordering_profiles_detail__orders">
        <div class="ordering_profiles_detail__orders_top">
            <div class="ordering_profiles_detail__orders_top_title">Заказы по этому профилю</div>
            <div class="all_orders__top_links this--mt_0">
                <a href="#" class="all_orders__top_link">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                        <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                        <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                        <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                    </svg>
                    <span>Скачать все фотографии</span></a>
                <a href="#" class="all_orders__top_link">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                        <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                        <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                        <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                        <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                    </svg>
                    <span>Скачать все документы</span>
                </a>
            </div>
        </div>
        <div class="all_orders__cards_cards this--mt_15">
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, пушкинская, 13; олехова ольга михайловна</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
            <div class="all_orders__cards_card all_orders_card">
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value">
                        <span class="all_orders_card__value_mob_label">Дата</span>
                        <span>21.01.2022</span>
                    </div>
                    <a href="#" class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Номер</span>
                        <span>34587023324809</span>
                    </a>
                    <div class="all_orders_card__value this--width_150">
                        <span class="all_orders_card__value_mob_label">Статус</span>
                        <span>Собран</span>
                    </div>
                    <div class="all_orders_card__value this--pr_0">
                        <span class="all_orders_card__value_mob_label">Сумма</span>
                        <span>103 000 ₽</span>
                    </div>
                </div>
                <div class="all_orders_card__half">
                    <div class="all_orders_card__value this--uppercase this--width_full">Астрахань, Лесная, 143; Константинов константин константинович</div>
                    <div class="all_orders_card__value_group all_orders_card__value this--width_200">
                        <a href="#" class="all_orders_card__value_group_link">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M38 17.4873C38 17.2153 37.772 17 37.5 17C32.2533 17 28 12.7467 28 7.5C28 7.22803 27.7847 7 27.5127 7H3C1.34315 7 0 8.34315 0 10V42C0 43.6569 1.34315 45 3 45H35C36.6569 45 38 43.6569 38 42V17.4873Z" fill="#F6F8FB"/>
                                <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                <circle cx="19" cy="30" r="9" stroke="#4A4A4A" stroke-width="2"/>
                                <path d="M14 16.5L19 20L24 16.5L22.5714 13H15.4286L14 16.5Z" stroke="#4A4A4A" stroke-width="2"/>
                            </svg>
                            <a href="#" class="all_orders_card__value_group_link">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="path_bg" fill-rule="evenodd" clip-rule="evenodd" d="M28 7.5C28 7.22803 27.7847 7 27.5127 7H8C6.34315 7 5 8.34315 5 10V42C5 43.6569 6.34315 45 8 45H30C31.6569 45 33 43.6569 33 42V17.66C33 16.5566 32.3683 15.5717 31.5122 14.8758C29.3692 13.1339 28 10.4768 28 7.5Z" fill="#F6F8FB"/>
                                    <path class="path_arrow_bg" fill-rule="evenodd" clip-rule="evenodd" d="M37.5 15C41.6421 15 45 11.6421 45 7.5C45 3.35786 41.6421 0 37.5 0C33.3579 0 30 3.35786 30 7.5C30 11.6421 33.3579 15 37.5 15ZM36.1538 8.07692V3.46154H38.8462V8.07692H41.5385L37.5 11.5385L33.4615 8.07692H36.1538Z" fill="#4A4A4A"/>
                                    <path class="path_arrow" d="M38.8456 3.46191H36.1532V8.0773H33.4609L37.4994 11.5388L41.5379 8.0773H38.8456V3.46191Z" fill="#ffffff"/>
                                    <path d="M9 23H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 28H29" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 33H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 38H26" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 17H18" stroke="#4A4A4A" stroke-width="2"/>
                                    <path d="M9 12H18" stroke="#4A4A4A" stroke-width="2"/>
                                </svg>
                            </a>
                            <a href="#" class="all_orders_card__value_group_link all_orders_card__link_arrow"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog__bottom">
            <a href="#" class="catalog__next_btn this--mt_0 btn this--wh">дальше</a>
            <ul class="catalog__pagination">
                <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link active ">1</a></li>
                <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">2</a></li>
                <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">3</a></li>
                <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">4</a></li>
                <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">5</a></li>
                <li class="catalog__pagination_item"><span>...</span></li>
                <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">9</a></li>
            </ul>
        </div>
    </div>
</div>