@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

html {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: Nunito, sans-serif;
	font-weight: 300;
	color: #000000;

	&.this--overflow {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 20px;
}
main {
	flex: 1 0 auto;
	padding-top: 188px;
	background: #fffbf2;
	@media ($tablet2) {
		padding-top: 113.4px;
	}
}

.section {
	padding: 60px 0;
	@media ($tablet2) {
		padding: 30px 0;
	}
	&.this--top {
		padding-bottom: 0;
	}
	&.this--bottom {
		padding-top: 0;
	}
}

@import "./blocks/btn";
@import "./blocks/title";
@import "./blocks/item_cards";
@import "./blocks/form";
@import "./blocks/top_nav";

@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/preloader/preloader";

@import "../components/main/main_slider/main_slider";
@import "../components/main/main_partners/main_partners";
@import "../components/main/main_three_steps/main_three_steps";
@import "../components/main/main_about/main_about";
@import "../components/main/main_counts/main_counts";
@import "../components/main/main_benefits/main_benefits";
@import "../components/main/main_video/main_video";
@import "../components/main/main_novelties/main_novelties";
@import "../components/main/main_banner/main_banner";
@import "../components/main/main_catalog/main_catalog";
@import "../components/main/main_news/main_news";
@import "../components/main/main_map/main_map";

@import "../components/catalog/catalog_content/catalog_content";
@import "../components/catalog/catalog_filter/catalog_filter";
@import "../components/catalog/catalog_body/catalog_body";

@import "../components/detail/detail";
@import "../components/detail/detail_slider/detail_slider";
@import "../components/detail/detail_info/detail_info";
@import "../components/detail/detail_sizes/detail_sizes";
@import "../components/detail/detail_set/detail_set";
@import "../components/detail/detail_tabs/detail_tabs";
@import "../components/detail/detail_recommend/detail_recommend";
@import "../components/detail/detail_form/detail_form";

@import "../components/collection_card/collection_card_content/collection_card_content";

@import "../components/search_result/search_result_content";

@import "../components/about_page/about_page_top/about_page_top";
@import "../components/about_page/about_page_certificates/about_page_certificates";

@import "../components/feedback_popup/feedback_popup";

@import "../components/news_card/news_card";

@import "../components/page_404/page_404";

@import "../components/registration/registration";

@import "../components/login/login";

@import "../components/organization_profile/organization_profile";

@import "../components/ordering/ordering";
@import "../components/ordering/order_result/order_result";

@import "../components/ordering_profiles/ordering_profiles";