@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

html {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: Nunito;
	font-weight: 300;
	color: #000000;
}

.container {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 20px;
}
.main {
	padding-top: 188px;
	background: #fffbf2;
	@media ($tablet2) {
		padding-top: 158px;
	}
}

h2 {
	font-weight: 600;
	font-size: 3rem;
	line-height: 1.33;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	@media ($tablet2) {
		font-size: 2.4rem;
	}

	&::before {
		content: '';
		position: absolute;
		width: 60px;
		height: 2px;
		top: -15px;
		left: 50%;
		transform: translateX(-50%);
		background: #F9C859;
	}
}

.section {
	padding: 60px 0;
	@media ($tablet2) {
		padding: 30px 0;
	}
}

@import "./blocks/btn";

@import "../components/header/header";
@import "../components/main_slider/main_slider";
@import "../components/partners/partners";
@import "../components/three_steps/three_steps";