@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

html {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: Nunito;
	font-weight: 300;
	color: #000000;

	&.this--overflow {
		overflow: hidden;
	}
}

.container {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 20px;
}
main {
	padding-top: 188px;
	background: #fffbf2;
	@media ($tablet2) {
		padding-top: 113.4px;
	}
}

.section {
	padding: 60px 0;
	@media ($tablet2) {
		padding: 30px 0;
	}
}

@import "./blocks/btn";
@import "./blocks/title";
@import "./blocks/item_cards";

@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/preloader/preloader";

@import "../components/main/main_slider/main_slider";
@import "../components/main/main_partners/main_partners";
@import "../components/main/main_three_steps/main_three_steps";
@import "../components/main/main_about/main_about";
@import "../components/main/main_counts/main_counts";
@import "../components/main/main_benefits/main_benefits";
@import "../components/main/main_video/main_video";
@import "../components/main/main_novelties/main_novelties";
@import "../components/main/main_banner/main_banner";
@import "../components/main/main_catalog/main_catalog";
@import "../components/main/main_news/main_news";
@import "../components/main/main_map/main_map";

@import "../components/catalog/catalog_content/catalog_content";
@import "../components/catalog/catalog_filter/catalog_filter";
@import "../components/catalog/catalog_body/catalog_body";
