<main class="page_404">
    <div class="section this--bottom">
        <div class="container">
            <div class="page_404__img_wr">
                <div class="page_404__img">
                    <img src="/img/page_404.png" alt="">
                </div>
            </div>
            <div class="page_404__text">
                К сожалению, страница не найдена.<br> Вы можете вернуться на предыдущую страницу, перейти на главную страницу или выбрать категорию в меню.
            </div>
            <div class="page_404__buttons">
                <a href="#" class="page_404__btn btn this--wh"><span class="prev_btn_arrow"></span>вернуться</a>
                <a href="/" class="page_404__btn btn this--wh">на главную</a>
            </div>
        </div>
    </div>
</main>